.divAsCheckbox {
    display: flex;
}

.checkbox {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin: 4px 4px;
}

.clickedCheckbox {
    background: rgba(0, 0, 255, 0.5);
    border-radius: 2px;
    width: 12px;
    height: 12px;
    margin: 4px 4px;
}

.checkbox:hover {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin: 4px 4px;
}

.checkbox:active {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin: 4px 4px;
}

.clickedCheckbox:hover {
    background: rgba(0, 0, 255, 0.7);
    border-radius: 2px;
    width: 12px;
    height: 12px;
    margin: 4px 4px;
}

.clickedCheckbox:active {
    background: rgba(0, 0, 255, 0.5);
    border-radius: 2px;
    width: 12px;
    height: 12px;
    margin: 4px 4px;
}